<div class="activity">
	<div class="activity-content">
		<div *ngIf="moreOpened" class="more">
			<ul>
				<li (click)="report()">
					{{'REPORT' | translate}}
				</li>
			</ul>
		</div>
		<p class="date">
			{{dateString}} <button (click)="toggleMore()" (clickOutside)="closeMore()" class="btn more-button"><i class="fa fa-caret-down"></i></button>
		</p>
		<p class="activity-title">
			<span *ngIf="activity.author;then user else anonym"></span>
				<ng-template #user>
					<a routerLink="/user/{{activity.author._id}}">
						<span class="username">{{activity.author.username}}</span>
					</a>
				</ng-template>
				<ng-template #anonym>
					<span class="username">{{'ANONYM' | translate}}</span>
				</ng-template>
			{{'MARKED_ACTIVITY' | translate}}
		</p>
		<p class="activity-text">{{activity.text}}</p>
		<img *ngIf="activity && activity.imageUrl" src={{activity.imageUrl}} class="img-fluid mx-auto d-block">
	</div>
	<span *ngIf="activity.userLiked;then liked else notLiked"></span>
	<ng-template #liked>
		<button class="btn btn-light activity-button" disabled>
			{{'YOU_LIKE_IT' | translate}} ({{activity.likesCount}})
		</button>
	</ng-template>
	<ng-template #notLiked>
		<button (click)="addLike()" class="btn btn-light activity-button">
			{{'LIKE' | translate}} ({{activity.likesCount}})
		</button>
	</ng-template>
	<button (click)="openComments()" class="btn btn-light activity-button">
		{{'COMMENTS' | translate}}
	</button>
</div>
