.activity {
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
}

.activity-content {
    padding: 10px 20px 20px 20px;
    position: relative;
}

.date {
    text-align: right;
    font-size: 12px;
    color: #999999;
}

.more-button {
    color: #999999;
}

.more {
    position: absolute;
    width: 100px;
    right: 50px;
    top: 30px;
    background-color: #ffffff;
}

.more ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 1px solid #eeeeee;
}

.more li {
    padding: 10px;
}

.more li:hover {
    background-color: #eeeeee;
}

.activity-title {
    color: #999999;
    font-size: 14px;
}

.username {
    font-weight: 700;
    color: #000088;
}

.activity-text {
    white-space: pre-wrap;
}

.activity-button {
    width: 50%;
    border: 1px solid #dddddd;
}
