<app-navbar [title]="'SETTINGS_TITLE' | translate"></app-navbar>
<div *ngIf="account" class="account-content mx-auto">
	<img class="img-fluid mx-auto d-block account-image" src="{{account.imageUrl}}">
	<div class="form-group">
		<label for="username">{{'ACCOUNT_USERNAME' | translate}}</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroupPrepend">@</span>
			</div>
			<input id="username" [(ngModel)]="usernameValue" type="text" class="form-control" aria-describedby="inputGroupPrepend">
		</div>
	</div>
	<div class="form-group">
		<button (click)="changeUsername()" class="btn btn-block btn-success">{{'CHANGE_USERNAME' | translate}}</button>
	</div>
	<div class="form-group">
		<label for="email">{{'ACCOUNT_EMAIL' | translate}}</label>
		<input id="email" type="text" class="form-control" value="{{account.email}}" readonly>
	</div>
	<div class="form-group">
		<label for="name">{{'ACCOUNT_FULLNAME' | translate}}</label>
		<input id="name" [(ngModel)]="fullnameValue" type="text" class="form-control" value="{{account.name}}">
	</div>
	<div class="form-group">
		<button (click)="changeFullname()" class="btn btn-block btn-info">{{'CHANGE_FULLNAME' | translate}}</button>
	</div>
	<div class="form-group">
		<label for="biogram">{{'ACCOUNT_BIOGRAM' | translate}}</label>
		<textarea id="biogram" [(ngModel)]="biogramValue" class="form-control description-input" placeholder="{{'ACCOUNT_BIOGRAM_PLACEHOLDER' | translate}}">{{account.description}}</textarea>
	</div>
	<div class="form-group">
		<button (click)="changeBiogram()" class="btn btn-block btn-info">{{'CHANGE_BIOGRAM' | translate}}</button>
	</div>
	<div class="form-group">
		<input type="password" [(ngModel)]="oldPassValue" class="form-control" placeholder="{{'ACCOUNT_OLD_PASSWORD' | translate}}">
	</div>
	<div class="form-group">
		<input type="password" [(ngModel)]="newPassValue" class="form-control" placeholder="{{'ACCOUNT_NEW_PASSWORD' | translate}}">
	</div>
	<div class="form-group">
		<input type="password" [(ngModel)]="repeatNewPassValue" class="form-control" placeholder="{{'ACCOUNT_REPEAT_PASSWORD' | translate}}">
	</div>
	<div class="form-group">
		<span *ngIf="disableButton;then disabledButton else activeButton"></span>
		<ng-template #disabledButton>
			<button class="btn btn-block btn-danger" disabled>{{'CHANGE_PASSWORD' | translate}}</button>
		</ng-template>
		<ng-template #activeButton>
			<button (click)="changePassword()" class="btn btn-block btn-danger">{{'CHANGE_PASSWORD' | translate}}</button>
		</ng-template>
	</div>
</div>