<nav class="navbar sticky-top navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">{{'SITE_TITLE' | translate}}</span>
</nav>
<div *ngIf="account" class="welcome-content mx-auto">
	<h1>Witaj!</h1><br>
	<h2>Cieszymy się, że dołączasz właśnie do naszej społeczności!</h2><br>
	<p>Została Ci przypisana nazwa użytkownika:</p>
	<h3>{{account.username}}</h3><br>
	<p>Jeśli chcesz, możesz ją zmienić teraz klikając w przycisk poniżej:</p>
	<a routerLink="/my-account">
		<button class="btn btn-block btn-primary">ZMIEŃ NAZWĘ UŻYTKOWNIKA TERAZ</button>
	</a><br>
	<small>lub przejdź od razu do <a routerLink="/">strony głównej</a></small>
</div>