<nav class="navbar sticky-top navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">{{title}}</span>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item active">
			<a class="nav-link" routerLink="/"><i class="fa fa-times close-button"></i></a>
		</li>
	</ul>
</nav>
