<app-navbar *ngIf="place" [title]="place.address"></app-navbar>
<div *ngIf="place" class="place-detail-content mx-auto">
	<div class="row info">
		<div class="col-4">
			<img src="https://via.placeholder.com/300" class="img-fluid">
			<button class="btn btn-block btn-outline-primary">Byłem tu!</button>
		</div>
		<div class="col">
			<p><b>{{place.address}}</b></p>
			<p>Kategoria: <i>???</i></p>
			<p><b>0</b> osób było tutaj</p>
		</div>
	</div>
	<button class="btn btn-success btn-block add-activity-button" (click)="addNewActivity()">{{'ADD_YOUR_ACTIVITY_HERE' | translate}}</button>
	<app-activity *ngFor="let activity of place.activities" [activity]="activity"></app-activity>
</div>