@import '../../../constants.scss';

.place-detail-content {
    margin-top: 20px;
    padding: 10px;
    max-width: $general-width;
}

.info {
    margin-bottom: 20px;
}

.img-fluid {
    margin-bottom: 10px;
}

.add-activity-button {
    margin-bottom: 20px;
}