agm-map {
    height: 20vh;
}

.show-activities-button {
    margin-top: 15px;
}

.hidden {
    visibility: hidden;
}

.add-activity-content {
    max-width: 400px;
    margin-top: 20px;
}

.search-input {
    border-color: #17a2b8;
    border-width: 2px;
}

.text-input {
    height: 200px;
}

