<app-navbar [title]="'ADD_ACTIVITY' | translate"></app-navbar>
<div class="add-activity-content mx-auto">
	<div class="form-group">
		<span *ngIf="place;then text else search"></span>
		<ng-template #text>
			<input
				type="text"
				class="form-control"
				placeholder="{{place.address}}"
				readonly
				(click)="changePlace()"
			>
			<button class="btn btn-primary btn-block show-activities-button" (click)="showPlaceDetail(place.id)">
				{{'SEE_ACTIVITY_HERE' | translate}}
			</button>
		</ng-template>
		<ng-template #search>
			<input
				class="form-control search-input"
				ngx-google-places-autocomplete
				[options]="searchService.options"
				#placesRef="ngx-places"
				(onAddressChange)="chooseOption($event)"
				placeholder="{{'WHERE_ARE_YOU' | translate}}"
				appAutofocus
			>
			<button class="btn btn-secondary btn-block see-activities-button hidden" (click)="showPlaceDetail(place.id)" disabled>
				{{'SEE_ACTIVITY_HERE' | translate}}
			</button>
		</ng-template>
	</div>
	<div class="form-group">
		<span *ngIf="author;then nickname else anonym"></span>
		<ng-template #nickname>
				<p>{{'ADD_ACTIVITY_AS' | translate}} <b>{{author.username}}</b></p>
		</ng-template>
		<ng-template #anonym>
				<p>{{'ADD_ACTIVITY_AS' | translate}} <b>{{'ANONYM' | translate}}</b></p>
		</ng-template>
	</div>
	<div class="form-group">
		<textarea [(ngModel)]="activityText" [ngModelOptions]="{standalone: true}" class="form-control text-input" id="text" placeholder="{{'YOUR_ACTIVITY' | translate}}"></textarea>
	</div>
	<div class="form-group">
		<label for="image">{{'ADD_IMAGE' | translate}}</label>
		<input type="file" id="image" accept="image/jpeg,image/png" (change)="fileSelected($event)">
		<img *ngIf="imagePreview" class="img-fluid" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
	</div>
	<span *ngIf="place && !disableButton;then activeButton else disabledButton"></span>
	<ng-template #activeButton>
		<button (click)="addActivity()" class="btn btn-success btn-block">{{'ADD_ACTIVITY_BUTTON' | translate}}</button>
	</ng-template>
	<ng-template #disabledButton>
		<button class="btn btn-success btn-block" disabled>{{'ADD_ACTIVITY_BUTTON' | translate}}</button>
	</ng-template>
</div>