.shortcut {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
}

.row {
    margin-bottom: 10px;
}

.more {
    color: #000088;
}