<div class="shortcut">
	<div class="row">
		<div class="col-4">
			<img src="https://via.placeholder.com/300" class="img-fluid">
		</div>
		<div class="col">
			<p><b>{{place.address}}</b></p>
			<p><small><i>{{place.category}}</i><br>
			Odległość: <b>~{{place.distance}} km</b><br>
			<b>{{place.activitiesCount}}</b> osób było tutaj</small></p>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<button (click)="visited()" class="btn btn-block btn-outline-primary">Byłem tu!</button>
		</div>
		<div class="col more">
			<button (click)="showDetail()" class="btn btn-block btn-success">Zobacz aktywność tutaj!</button>
		</div>
	</div>
</div>
