<app-navbar [title]="'LOG_IN_TITLE' | translate"></app-navbar>
<div class="login-content mx-auto">
	<p><small>{{'HAVENT_GOT_ACCOUNT' | translate}} <a routerLink="/signup">{{'SIGN_UP' | translate}}</a></small></p>
	<div class="form-group">
		<input
			(keyup.enter)="logIn()"
			type="text"
			[(ngModel)]="email"
			class="form-control"
			placeholder="{{'LOG_IN_EMAIL' | translate}}"
			appAutofocus
		>
	</div>
	<div class="form-group">
		<input
			(keyup.enter)="logIn()"
			type="password"
			[(ngModel)]="pass"
			class="form-control"
			placeholder="{{'LOG_IN_PASSWORD' | translate}}"
		>
	</div>
	<div class="form-group">
		<span *ngIf="disableButton;then disabledButton else activeButton"></span>
		<ng-template #disabledButton>
			<button class="btn btn-block btn-success" disabled>{{'LOG_IN_BUTTON' | translate}}</button>
		</ng-template>
		<ng-template #activeButton>
			<button (click)="logIn()" class="btn btn-block btn-success">{{'LOG_IN_BUTTON' | translate}}</button>
		</ng-template>
	</div>
</div>
