.profile-content {
    width: 400px;
    margin-top: 20px;
}

.back-button {
    margin-bottom: 20px;
}

.profile-image {
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
}

.username {
    color: #000088;
}

.biogram {
    white-space: pre-wrap;
}

.activity-title {
    margin-top: 50px;
}
