<app-navbar [title]="'USER_PROFILE_TITLE' | translate"></app-navbar>
<div class="profile-content mx-auto">
	<button (click)="goBack()" class="btn btn-block btn-info back-button">
		{{'GO_BACK' | translate}}
	</button>
	<div *ngIf="profile">
		<img class="img-fluid mx-auto d-block profile-image" src="{{profile.imageUrl}}">
		<p class="username">{{profile.username}}</p>
		<span *ngIf="profile.fullname;then name else noName"></span>
		<ng-template #name>
			<p>{{profile.fullname}}</p>
		</ng-template>
		<ng-template #noName>
			<p>{{'USER_NOT_SHARE_NAME' | translate}}</p>
		</ng-template>
		<span *ngIf="profile.biogram;then description else noDescription"></span>
		<ng-template #description>
			<p class="biogram">{{profile.biogram}}</p>
		</ng-template>
		<ng-template #noDescription>
			<p>{{'USER_NOT_SHARE_BIOGRAM' | translate}}</p>
		</ng-template>
	</div>
	<div *ngIf="profile">
		<h5 class="activity-title">{{'ACTIVITY' | translate}}</h5>
		<span *ngIf="profile.activities.length > 0;then showActivities else noActivity"></span>
		<ng-template #showActivities>
			<app-activity *ngFor="let activity of profile.activities" [activity]="activity"></app-activity>
		</ng-template>
		<ng-template #noActivity>
			<p>{{'NO_ACTIVITY' | translate}}</p>
		</ng-template>
	</div>
</div>
