@import '../../../constants.scss';

.fa {
    cursor: pointer;
}

.fa-bars {
    font-size: 32px;
}

.menu {
    position: fixed;
    width: 150px;
    right: 50px;
    top: 30px;
    z-index: 401;
    background-color: #ffffff;
}

.profile-image {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 5px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 1px solid #eeeeee;
}

.menu li {
    padding: 10px;
}

.menu li:hover {
    background-color: #eeeeee;
}

.menu a {
    color: #000000;
    text-decoration: none;
}

.changeBtn {
    margin-left: 5px;
}

.search-field {
    margin-bottom: 20px;
}

.country-button {
    border: 1px solid #ced4da;
}

.flag-image {
    height: 15px;
    width: 25px;
    margin-right: 3px;
    border: 1px solid #eeeeee;
}

.search-content {
    max-width: $general-width;
    padding: 10px;
    margin-top: 20px;
}
