<div *ngIf="menuOpened" class="menu">
	<ul>
		<a *ngIf="account" routerLink="/user/{{account.id}}">
			<li>{{'MENU_MY_PROFILE' | translate}}</li>
		</a>
		<a *ngIf="account" routerLink="/my-account">
			<li>{{'MENU_SETTINGS' | translate}}</li>
		</a>
		<li *ngIf="account" (click)="logOut()">{{'MENU_LOG_OUT' | translate}}</li>
		<a *ngIf="!account" routerLink="/login">
			<li>{{'MENU_LOG_IN' | translate}}</li>
		</a>
		<a *ngIf="!account" routerLink="/signup">
			<li>{{'MENU_SIGN_UP' | translate}}</li>
		</a>
	</ul>
</div>
<nav class="navbar navbar-light bg-light">
	<a href="https://pulcito.com" class="navbar-brand mb-0 h1">
		{{'SITE_TITLE' | translate}}
	</a>
	<ul *ngIf="!loading" (clickOutside)="closeMenu()" class="navbar-nav ml-auto">
		<li *ngIf="account" (click)="toggleMenu()" class="nav-item active">
			<img class="profile-image" src="{{account.imageUrl}}">
			<i class="fa fa-caret-down"></i>
		</li>
		<li *ngIf="!account" (click)="toggleMenu()" class="nav-item active">
			<i class="fa fa-bars"></i>
		</li>
	</ul>
</nav>
<div class="search-content mx-auto">
	<h4>{{'SEARCH_IN' | translate}}: <b>{{cityName}}</b>
		<button (click)="changeCity()" class="btn btn-info btn-sm changeBtn">
			{{'SEARCH_CHANGE_CITY' | translate}}
		</button>
	</h4>
	<div class="search-field">
		<input
			*ngIf="currentPlace"
			(click)="changeCurrentPlace()"
			type="text"
			class="form-control"
			placeholder="{{currentPlace.address}}"
			readonly>
		<input
			*ngIf="!currentPlace"
			class="form-control search-input"
			ngx-google-places-autocomplete
			[options]="searchService.options"
			(onAddressChange)="chooseOption($event)"
			placeholder="{{'SEARCH_WHERE_ARE_YOU' | translate}}"
			appAutofocus>
	</div>
	<div *ngIf="places.length > 0">
		<h4>{{'SEARCH_NEAR_PLACES' | translate}}:</h4>
		<app-place-shortcut
			*ngFor="let place of places"
			[place]="place">
		</app-place-shortcut>
	</div>
</div>