<app-navbar [title]="'SIGN_UP_TITLE' | translate"></app-navbar>
<div class="signup-content mx-auto">
	<p><small>{{'HAVE_ACCOUNT' | translate}} <a routerLink="/login">{{'LOG_IN' | translate}}</a></small></p>
	<div class="form-group">
		<input
			type="email"
			(keyup.enter)="signUp()"
			[(ngModel)]="email"
			class="form-control"
			placeholder="{{'SIGN_UP_EMAIL' | translate}}"
			appAutofocus
		>
	</div>
	<div class="form-group">
		<input
			type="password"
			(keyup.enter)="signUp()"
			[(ngModel)]="pass"
			class="form-control"
			placeholder="{{'SIGN_UP_PASSWORD' | translate}}"
		>
	</div>
	<div class="form-group">
		<input
			type="password"
			(keyup.enter)="signUp()"
			[(ngModel)]="repeatPass"
			class="form-control"
			placeholder="{{'SIGN_UP_REPEAT_PASSWORD' | translate}}"
		>
	</div>
	<div class="form-group">
		<span *ngIf="disableButton;then disabledButton else activeButton"></span>
		<ng-template #disabledButton>
			<button class="btn btn-block btn-primary" disabled>{{'SIGN_UP_BUTTON' | translate}}</button>
		</ng-template>
		<ng-template #activeButton>
			<button (click)="signUp()" class="btn btn-block btn-primary">{{'SIGN_UP_BUTTON' | translate}}</button>
		</ng-template>
	</div>
</div>